services:
  web:
    build: .
    container_name: linkedin_insights_api
    ports:
      - "8000:8000" 
    volumes:
      - .:/app 
    env_file:
      - .env 
    depends_on:
      - db 

  db:
    image: postgres:15-alpine 
    container_name: postgres_db
    ports:
      - "5432:5432" 
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data: